<h3>Edit Appointment</h3>

<%= render partial: "shared/flash" %>
<%= render "shared/error", obj: @schedule %>

<div Class="container mt-5">
  <%= form_with model: @schedule do |f| %>
    <div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.datetime_field :start_date, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :end_date %>
        <%= f.datetime_field :end_date, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :all_day %>
        <p><%= f.check_box :all_day %>Please check if all day</p>
      </div>

      <div class="form-group">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save edits", class: "btn btn-primary mt-4", data: { turbo_confirm: "Do you want to update your edits?"} %>
      </div>

      <div class="form-group">
        <%= link_to "back to index", :schedules, class: "btn btn-success mt-3" %>
      </div>
    </div>
  <% end %>
</div>
