<h3>Appointment details</h3>

<div class="container mt-5">
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <td><%= @schedule.title %></td>
    </tr>
    <tr>
      <th>Start date</th>
      <td><%=l @schedule.start_date, format: :short %></td>
    </tr>
    <tr>
      <th>End date</th>
      <td><%= l @schedule.end_date, format: :short %></td>
    </tr>
    <tr>
      <th>All day</th>
      <td><%= boolean_display(@schedule. all_day) %></td>
    </tr>
    <tr>
      <th>Memo</th>
      <td><%= @schedule.memo %></td>
    </tr>
  </table>

<div>
  <%= link_to "back to index", :schedules, class: "btn btn-success" %>
</div>