<!DOCTYPE html>
<html>
  <head>
    <title>Schedules</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# hack for popperjs error: https://github.com/rails/importmap-rails/issues/65#issuecomment-999939960 %> 
    <script> + window.process = {env: {}}  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
